
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

a { 
	color: inherit; 
	text-decoration: none;
} 

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header {
    background: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.search-section {
    background: white;
    padding: 20px;
    margin-top: 20px;
}

.search-section form {
    display: flex;
    flex-direction: column;
}

.search-section label {
    margin-bottom: 5px;
}

.search-section input {
    padding: 10px;
    margin-bottom: 10px;
}

.search-section button {
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.error-message, .results {
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: white;
}

.results-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
	
  }

.results-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.result-item {
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background: #333;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.search-bubble:active, .search-bubble:focus {
    outline: none;
}

.results-grid {
    margin-bottom: 80px;  /* Provide space for the bubble */
}


.navbar {
    width: 100vw;
    background: #333;
    color: white;
    padding: 10px 10px;
	display: flex;
	flex-direction: row;
}

.navbar .container {
	width: 100vw;
	display: flex;
	align-self: flex-end;
    justify-content: space-between;
	flex-direction: row;
}

.navbar-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-form input {
    padding: 10px;
    margin-right: 10px;
    border: none;
    min-width: 300px;
}

.navbar-form button {
    padding: 10px;
    background: #444;
    color: white;
    border: none;
    cursor: pointer;
}
