{% extends "layout.html" %}

{% block body %}

<div class="container">
    <header>
        <h1>Find Your Flavor Pairings</h1>
    </header>
    <main>
        <section class="search-section">
            <form action="/results" method="get">
                <p>Oops! We don't have that ingredient on file. Try again.</p>
                <label for="ingredient">Enter an Ingredient:</label>
                <input list="search-options" type="text" id="ingredient" name="choice" placeholder="e.g., Garlic, Tomato" required>
                <button type="submit">Find Pairings</button>
            </form>
        </section>
    </main>
</div>                             

<datalist id="search-options">
    {% for option in allMains %}
        <option value="{{ option }}">
    {% endfor %}
</datalist>

{% endblock %}